.footer {
  display: flex;
  justify-content: center;
  ul {
    li {
      list-style-type: none;
    }
  }
}
.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 20px;
}